img{
	width: 100%;
	height: auto;
}img{
	width: 100%;
	height: auto;
}/* Scss Document */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0; }
a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  -webkit-transition: 0.2s, color 0.2s;
  transition: 0.2s, color 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: ease, ease;
          transition-timing-function: ease, ease;
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s; }

html {
  scroll-behavior: smooth; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

a {
  color: #333; }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }
.fix-text {
    display: -webkit-box;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-text3 {
    display: -webkit-box;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumb-item{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    
    img{
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.thumb-5x3 {
    padding-bottom: 60%;
}
.fs-8 {
    font-size: 8px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}
.bg-base {
    background-color: #f2f2f4;
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: #21c9f6;
}
.bg-gradient{
//background: rgb(87,87,87);
//background: linear-gradient(0deg, rgba(87,87,87,0.8690826672465861) 0%, rgba(98,98,98,0.7290266448376226) 35%, rgba(120,120,120,0) 100%);
    background-image: linear-gradient(-180deg, rgba(255,255,255,0) 0%, #323751 100%);
}
.w-1080{
	max-width: 1080px;
}
.w-1142{
    max-width: 1140px; 
}
.bg-opacity{
    background-color: rgba(0, 0, 0, 0.5);
}
.text-darkblue{
    color: #00315C;
}
.text-lightgray{
    color: #e4e4e4;
}
.text-orange{
    color: #FF3100;
}
.border-opacity{
    border-color: rgba(0,0,0,0.00);
    border-width: 1px;
}
@mixin fluid-type($min-font-size, $max-font-size, $lower-range, $upper-range) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}
p {
  @include fluid-type(14px, 20px, 600px, 1200px); 
  font-weight: normal
}
//$sizes: (
//  25: 25%,
//  50: 50%,
//  75: 75%,
//  100: 100%,
//);
//
//@each $breakpoint in map-keys($grid-breakpoints) {
//  @include media-breakpoint-down($breakpoint) {
//    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
//
//    @each $prop, $abbrev in (width: w, height: h) {
//      @each $size, $length in $sizes {
//        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
//      }
//    }
//
//  }
//}
.site-logo{
width: 212px;
}
.nav_desktop{
    background-color: #a00106;
    .nav_item{
        border-right:1px solid rgba(255,255,255,0.3);
        display: flex;
        align-items: center;
        a{
            color: white;
        }
    }
    .nav_item.active{
        background-color: #ededed;
        a{
            color: #a00106;
        }
    }
}
.main-menu{
    .main-menu-item{
        padding: 6px 21px;
        font-size: 14px;
        position:relative;
        display:flex;
        align-items:center;
    }
    .main-menu-item.active{
        &::before{
            content: "";
            z-index: 0;
            transform: skew(-10deg);
            background: #FF3100;
            border-radius:5px;
            border: none;
            height: 32px;
            position: absolute;
            left: 0;
            width: 100%;
        }
        span{
            color: white;
            z-index: 1;
        }
    }
}
.main-news{
	.main-news-article{
		max-width: 760px;
	}
	.main-news-aside{
		width: 320px;
		.card-body{
			.card-title{
				height: 50px
			}
		}
	}
}
.grid-col4{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 2%;
    .md-card_image{
        height: 132px;
    }
    .sm-card_image{
        height: 101px;
    }
}
.grid-col4.grid-col4_small{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-col-4{
    grid-template-columns: repeat(4,260px);
}
.section-title{
    position: relative;
    width: 26px;
    height: 25px;
    overflow: hidden;
    &::before{
    content: "";
    width: 6px;
    height: 28px;
    background-color: #FF3100;
    display: inline-block;
    /* margin-right: 7px; */
    transform: skew(-49deg);
    position: absolute;
    top: -2px;
    left: 8px;
    }
    &::after{
    content: "";
    width: 6px;
    height: 20px;
    background-color: #FF3100;
    display: inline-block;
    /* margin-right: 7px; */
    transform: skew(-49deg);
    left: 23px;
    position: absolute;
    top: -1px;
    left: -1px;
    }
}
.section-title_white{
    position: relative;
    width: 26px;
    height: 25px;
    overflow: hidden;
    &::before{
    content: "";
    width: 6px;
    height: 28px;
    background-color: #FFF;
    display: inline-block;
    /* margin-right: 7px; */
    transform: skew(-49deg);
    position: absolute;
    top: -2px;
    left: 9px;
    }
    &::after{
    content: "";
    width: 6px;
    height: 20px;
    background-color: #FFF;
    display: inline-block;
    /* margin-right: 7px; */
    transform: skew(-49deg);
    left: 23px;
    position: absolute;
    top: -1px;
    left: -1px;
    }
}

.card-mini{
	.card-mini-image{
		height: 95px;
	}
}
.cate-list{
    .cate-list_item{
        padding: 0 16px;
    }
}
.card-col6{
	.card-col6_image{
		height: 315px;
	}
}
.mini-news{
	.mini-news_image{
		height: 141px;
	}
    .mini-news_item{
        padding-bottom: 14px;
        margin-bottom: 14px;
        border-bottom: 1px solid #e6e6e6;
        &:last-child{
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
.card-news-normal{
	&_image{
	height: 204px;
	}
}

.aside-news-list{
	.aside-news-list_item{
		border-bottom: 1px solid #f3f3f3 ;
		border-left: none;
		border-right: none;
		border-top: none;
		padding-bottom: 24px;
		margin-bottom: 16px;
		.aside-news-list_item_image{
			width: 105px;
			height: 64px;
		}
		.card-body{
		
		}
	}
	.aside-news-list_item:last-child{
		border-bottom: none;
	}
}
.article-news{
	
	border-left: none;
		border-right: none;
		border-top: none;
    border-bottom: 1px solid #EEEEE;
	padding-bottom: 20px ;
	margin-bottom: 20px;
	.article-news_image{
		height: 180px;
	}
}
.article-news:last-child{
	border: none;
}
.aside-news{
    .article-news{
	border-left: none;
		border-right: none;
		border-top: none;
        border-bottom: 1px solid rgba(44,44,44,0.40);
	padding-bottom: 20px ;
	margin-bottom: 20px;
	.article-news_image{
		height: 180px;
	}
}
.article-news:last-child{
	border: none;
}
}
.menu-cate{
	.menu-cate_item{
		position: relative;
		&:hover{
			.menu-cate_dropdown{
				display: block;
			}
		}
		.menu-cate_dropdown{
			position: absolute;
			display: none;
			min-width: 100%;
			z-index: 9;
			top: 100%;
			left: 0px;
			background-color: white;
			.menu-cate_dropdown_item{
				padding: 5px 8px;
				&:hover{
				background-color: #dd1520;
				color: white;
				}
			}
		}
	}
	.menu-cate_item.active, .menu-cate_item:hover{
		border-bottom: 2px solid #da1620;
		animation: 0.05s;
		transition: 0.05s;
	}
}
.menu-action{
	display: flex;
	position: relative;
	bottom: -14px;
    right: -183px;
}
/*--------------------------------search -----------------------------------------*/
.container1 {
  position: absolute;
  transform: translate(-100%);
}
.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 8;
  width: 20px;
  height: 20px;
  transition: all .25s ease-in-out .25s;
  color: transparent;
  font-size: .75rem;
  line-height: 25px;
}
.search-box input[type="text"]:hover {
  cursor: pointer;
}
.search-box input[type="text"]:hover:focus {
  cursor: text;
}
.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type="text"]:focus {
  width: 182px;
  padding: 0 10px;
  outline: none;
  color: black;
}
.search-box input[type="text"]:focus + span {
  width: 200px;
    height: 25px;
}
.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all .25s ease-in;
}
.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid black;
  top: 0;
  width: 21px;
  height: 21px;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type="text"] + span::before {
  transition: all .25s ease-in .5s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: black;
  transform: rotate(45deg) translate(21px, -1px);
}
.side-news{
//    max-height: 315px;
    overflow: hidden
}
.news-tab{
     border-bottom: 2px solid #c4171b;
    .news-tab_item{
        .nav-link{
            background-color: #eaeaea;
        }
        .nav-link.active{
                background-color: #c4171b;
        }
    }
}
.tab-news-list{
    .tab-news-list_item{
        border-bottom: 1px solid #e8e8e8;
        &::before{
            content: "";
            height: 5px;
            width: 5px;
            background-color: #C4171B;
            top: 15px;
            position: absolute;
            left: 8px;
        }
        &:last-child{
            border: none;
        }
    }
}
.color-selector{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
//    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-gap: 6px 3px;
        padding-top: 7px;
    .color-selector_item {
      display: block;
      position: relative;
      padding: 6px 7px 6px 32px;
      margin-bottom: 0px;
      cursor: pointer;
      font-size: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
        .color_tag{
            height: 20px;
            width: 20px;
            border-radius: 50%;
            left: 7px;
            top: 6px;
            position: absolute;
        }
    }

    /* Hide the browser's default checkbox */
    .color-selector_item input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
        border-radius: 15px;
    }

    /* On mouse-over, add a grey background color */
    .color-selector_item:hover input ~ .checkmark {
      background-color: transparent;
    }

    /* When the checkbox is checked, add a blue background */
    .color-selector_item input:checked ~ .checkmark {
        background-color: transparent;
        border: 1px solid #707070;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .color-selector_item input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .color-selector_item .checkmark:after {
      left: 12px;
        top: 7px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    //-------------------------------radio-checkbox-------------------------------------
    /*--------------------------------------------------------------------------------*/
    
    .category-radio_item{
          display: flex;
          align-items: center;
          position:relative;
          cursor:pointer;
          font-size:15px;
          user-select: none;
          padding-left:32px;
          margin-bottom:7px;
            width: 120px;
        height: 28px;
        border: 1px solid #646464;
        border-radius: 15px;
            .color_tag{
                height: 20px;
                width: 20px;
                border-radius: 50%;
                left: 7px;
                top: 1px;
                position: absolute;
            }
        }
        .category-radio_item input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
        .checkmark{
            position: absolute;
            top: 0;
            left: 0;
            width: 146px;
            height: 34px;
            background-color: transparent;
            border-radius: 15px;
        }
        .category-radio_item:hover .checkmark{
          background-color: transparent;
        }
        .checkmark:after{
          content:"";
          position:absolute;
          display:none;
        }
        .category-radio_item .checkmark:after{
            left: 12px;
            top: 2px;
            width: 7px;
            height: 13px;
            border: solid white;
            border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        .category-radio_item input:checked ~ .checkmark{
          background-color: transparent;
            width: 161px;
            
        }
        .category-radio_item input:checked ~ .checkmark:after{
          display:block;
        }
}
.comment-count{
    height: 28px;
    width: 128px;
    border: 1px solid #ec0203;
    border-radius: 15px;
    .comment-count_image{
        height: 15px;
        width: 15px;
    }
}
.comment-detail{
    .comment-detail_image{
        height: 50px;
        width: 50px;    
        border-radius: 50%;
        overflow: hidden;
    }
}
.detail-action{
	margin-top: 18px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.social-list{
	display: flex;
}
.social-list li{
	margin-right: 9px;
}
.share-fb{
	display: flex;
}
.social-list .share-fb .icon-share-fb{
	background: #3B5999;
	display: inline-block;
	height: 36px;
	width: 36px;
	text-align: center;
	line-height: 36px;
	color: #ffffff;
}
.social-list .share-fb .text-share-fb{
	color: #FCFAF6;
	background: #087CCE;
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	padding: 0 10px;
}
.social-list .share-twitter{
	display: inline-block;
	height: 36px;
	width: 36px;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	background: #55ACEE;
}
.social-list .share-zalo{
	display: inline-block;
	width: 36px;
	height: 36px;
	background: #41A0D7;
	line-height: 36px;
	text-align: center;
}
.grid-col3{
    display: grid;
//    grid-template-columns: repeat(3, 1fr);
//    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
    grid-gap: 0px 20px;
}
.detail-tag{
	display: flex;
	margin: 30px 0 20px 0;
}
.detail-tag .tag-title{
	padding: 10px 5px;
	display: inline-block;
	background: #f7f7f7;
	color: #757575;
	font-size: 14px;
	line-height: 16px;
	height: 35px;
	position: relative;
	margin-right: 30px;
}
.detail-tag .tag-title:after{
	content: "";
	width: 0;
    height: 0;
    border-top: 18.5px solid transparent;
    border-left: 15px solid #f7f7f7;
    border-bottom: 18.5px solid transparent;
    position: absolute;
    left: 100%;
    top: 0;
}
.detail-tag .tag-title i{
	color: #666666;
}
.tag-list{
	display: flex;
}
.tag-list li{
	padding: 7px 15px;
	border: 1px solid #f7f7f7;
	margin: 0 5px;
	transition: 0.2s;
	box-sizing: border-box;
	min-width: 100px;
	text-align: center;
}
.tag-list li:hover{
	background-color: #FFEEDB;
	font-weight: 700;
	
}
.tag-list a{
	color: #4f4f4f;
	transition: 0.2s;
	display: block;
}
.floating-bar{
    position: fixed;
    width: 48px;
    border: 1px solid #FFEEDB;
    left: 180px;
    top: 170px;
    .mes-item{
        padding: 4px 12px 5px;
    }
    .floating-bar_item{
        height: 46px;
        &:hover{
            background-color: #FFEEDB;
        }
    }
    
}
.social-icon{
    width: 30px;
    height: 30px;
}
.mini-video-title{
    height: 88px;
}
.play-button{
    width: 30px;
    height: 30px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 127, 0, 0.7);
}
.svg-grid{
    left: 120px;
    top: 0px;
    svg {
        width: 100%;
        height: 50px;
    stroke:#1910C1;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
        fill:none;
  }
}
.line-dash{
    background-image: url("../images/icon/Group.svg");
    background-repeat: repeat-x;
}
.owl-nav_custom{
    top: 132px;
    .customNextBtn{
        width: 63px;
        height: 43px;
        transform: skew(10deg);
        background: #FF3100;
        border-radius:5px;
        border: none;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            
        }
    }
    .customPrevBtn{
        width: 63px;
        height: 43px;
        transform: skew(-10deg);
        background: #FF3100;
        border-radius:5px;
        border: none;
    }
}
.pic-number{
    width: 26px;
    height: 19px;
        
    left: 2px;
    &::before{
        content: "";
        position: absolute;
        transform: skew(-10deg);
        background: #FF7F00;
        border-radius:5px;
        border: none;
        width: 26px;
        height: 19px;
        z-index: -1;
    }
}