img {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}
@font-face {
  font-display: swap;
  font-family: Averta;
  src: url("../fonts/Averta-Regular.otf");
}
@font-face {
  font-display: swap;
  font-family: Averta-bold;
  src: url("../fonts/Averta-Bold.otf");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Arial;
  src: url("../fonts/Arial Unicode MS.ttf") format("woff"),
    url("../fonts/Arial Unicode MS.ttf") format("opentype"),
    url("../fonts/Arial Unicode MS.ttf") format("truetype");
}
/* Scss Document */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  -webkit-transition: 0.2s, color 0.2s;
  transition: 0.2s, color 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: ease, ease;
  transition-timing-function: ease, ease;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.fix-text {
  display: -webkit-box;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  line-height: 1.3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb-item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.thumb-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb-5x3 {
  padding-bottom: 60%;
}

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-25 {
  font-size: 25px;
}

.bg-base {
  background-color: #f2f2f4;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: #21c9f6;
}

.bg-gradient {
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0) 0%,
    #323751 100%
  );
}

.w-1080 {
  max-width: 1080px;
}

.w-1142 {
  max-width: 1140px;
}

.bg-opacity {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-darkblue {
  color: #00315c;
}

.text-lightgray {
  color: #e4e4e4;
}

.text-orange {
  color: #ff3100;
}

.border-opacity {
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
}

p {
  font-size: calc(14px + 6 * ((100vw - 600px) / 600));
  font-weight: normal;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 20px;
  }
}

.site-logo {
  width: 212px;
}

.nav_desktop {
  background-color: #a00106;
}
.nav_desktop .nav_item {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}
.nav_desktop .nav_item a {
  color: white;
}
.nav_desktop .nav_item.active {
  background-color: #ededed;
}
.nav_desktop .nav_item.active a {
  color: #a00106;
}

.main-menu .main-menu-item {
  padding: 6px 21px;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
}
.main-menu .main-menu-item.active::before {
  content: "";
  z-index: 0;
  transform: skew(-10deg);
  background: #ff3100;
  border-radius: 5px;
  border: none;
  height: 32px;
  position: absolute;
  left: 0;
  width: 100%;
}
.main-menu .main-menu-item.active span {
  color: white;
  z-index: 1;
  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */

  text-transform: uppercase;
}

.main-news .main-news-article {
  max-width: 760px;
}
.main-news .main-news-aside {
  width: 320px;
}
.main-news .main-news-aside .card-body .card-title {
  height: 50px;
}

.grid-col4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 2%;
}
.grid-col4 .md-card_image {
  height: 132px;
}
.grid-col4 .sm-card_image {
  height: 101px;
}

.grid-col4.grid-col4_small {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-col-4 {
  grid-template-columns: repeat(4, 260px);
}

.section-title {
  position: relative;
  width: 26px;
  height: 25px;
  overflow: hidden;
}
.section-title::before {
  content: "";
  width: 6px;
  height: 28px;
  background-color: #ff3100;
  display: inline-block;
  /* margin-right: 7px; */
  transform: skew(-49deg);
  position: absolute;
  top: -2px;
  left: 8px;
}
.section-title::after {
  content: "";
  width: 6px;
  height: 20px;
  background-color: #ff3100;
  display: inline-block;
  /* margin-right: 7px; */
  transform: skew(-49deg);
  left: 23px;
  position: absolute;
  top: -1px;
  left: -1px;
}

.section-title_white {
  position: relative;
  width: 26px;
  height: 25px;
  overflow: hidden;
}
.section-title_white::before {
  content: "";
  width: 6px;
  height: 28px;
  background-color: #fff;
  display: inline-block;
  /* margin-right: 7px; */
  transform: skew(-49deg);
  position: absolute;
  top: -2px;
  left: 9px;
}
.section-title_white::after {
  content: "";
  width: 6px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
  /* margin-right: 7px; */
  transform: skew(-49deg);
  left: 23px;
  position: absolute;
  top: -1px;
  left: -1px;
}

.card-mini .card-mini-image {
  height: 95px;
}

.cate-list .cate-list_item {
  padding: 0 16px;
}

.card-col6 .card-col6_image {
  height: 315px;
}

.mini-news .mini-news_image {
  height: 141px;
}
.mini-news .mini-news_item {
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #e6e6e6;
}
.mini-news .mini-news_item:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-news-normal_image {
  height: 204px;
}

.aside-news-list .aside-news-list_item {
  border-bottom: 1px solid #f3f3f3;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-bottom: 24px;
  margin-bottom: 16px;
}
.aside-news-list .aside-news-list_item .aside-news-list_item_image {
  width: 105px;
  height: 64px;
}
.aside-news-list .aside-news-list_item:last-child {
  border-bottom: none;
}

.article-news {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #EEEEE;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.article-news .article-news_image {
  height: 180px;
}

.article-news:last-child {
  border: none;
}

.aside-news .article-news {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid rgba(44, 44, 44, 0.4);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.aside-news .article-news .article-news_image {
  height: 180px;
}
.aside-news .article-news:last-child {
  border: none;
}

.menu-cate .menu-cate_item {
  position: relative;
}
.menu-cate .menu-cate_item:hover .menu-cate_dropdown {
  display: block;
}
.menu-cate .menu-cate_item .menu-cate_dropdown {
  position: absolute;
  display: none;
  min-width: 100%;
  z-index: 9;
  top: 100%;
  left: 0px;
  background-color: white;
}
.menu-cate .menu-cate_item .menu-cate_dropdown .menu-cate_dropdown_item {
  padding: 5px 8px;
}
.menu-cate .menu-cate_item .menu-cate_dropdown .menu-cate_dropdown_item:hover {
  background-color: #dd1520;
  color: white;
}
.menu-cate .menu-cate_item.active,
.menu-cate .menu-cate_item:hover {
  border-bottom: 2px solid #da1620;
  animation: 0.05s;
  transition: 0.05s;
}

.menu-action {
  display: flex;
  position: relative;
  bottom: -14px;
  right: -183px;
}

/*--------------------------------search -----------------------------------------*/
.container1 {
  position: absolute;
  transform: translate(-100%);
}

.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 8;
  width: 20px;
  height: 20px;
  transition: all 0.25s ease-in-out 0.25s;
  color: transparent;
  font-size: 0.75rem;
  line-height: 25px;
}

.search-box input[type="text"]:hover {
  cursor: pointer;
}

.search-box input[type="text"]:hover:focus {
  cursor: text;
}

.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}

.search-box input[type="text"]:focus {
  width: 182px;
  padding: 0 10px;
  outline: none;
  color: black;
}

.search-box input[type="text"]:focus + span {
  width: 200px;
  height: 25px;
}

.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all 0.25s ease-in;
}

.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid black;
  top: 0;
  width: 21px;
  height: 21px;
  transition: all 0.25s ease-in 0.25s;
  border-radius: 25px;
  left: 0;
}

.search-box input[type="text"] + span::before {
  transition: all 0.25s ease-in 0.5s;
  transform-origin: left top;
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: black;
  transform: rotate(45deg) translate(21px, -1px);
}

.side-news {
  overflow: hidden;
}

.news-tab {
  border-bottom: 2px solid #c4171b;
}
.news-tab .news-tab_item .nav-link {
  background-color: #eaeaea;
}
.news-tab .news-tab_item .nav-link.active {
  background-color: #c4171b;
}

.tab-news-list .tab-news-list_item {
  border-bottom: 1px solid #e8e8e8;
}
.tab-news-list .tab-news-list_item::before {
  content: "";
  height: 5px;
  width: 5px;
  background-color: #c4171b;
  top: 15px;
  position: absolute;
  left: 8px;
}
.tab-news-list .tab-news-list_item:last-child {
  border: none;
}

.color-selector {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6px 3px;
  padding-top: 7px;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
  /*--------------------------------------------------------------------------------*/
}
.color-selector .color-selector_item {
  display: block;
  position: relative;
  padding: 6px 7px 6px 32px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.color-selector .color-selector_item .color_tag {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 7px;
  top: 6px;
  position: absolute;
}
.color-selector .color-selector_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.color-selector .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.color-selector .color-selector_item:hover input ~ .checkmark {
  background-color: transparent;
}
.color-selector .color-selector_item input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid #707070;
}
.color-selector .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.color-selector .color-selector_item input:checked ~ .checkmark:after {
  display: block;
}
.color-selector .color-selector_item .checkmark:after {
  left: 12px;
  top: 7px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.color-selector .category-radio_item {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  padding-left: 32px;
  margin-bottom: 7px;
  width: 120px;
  height: 28px;
  border: 1px solid #646464;
  border-radius: 15px;
}
.color-selector .category-radio_item .color_tag {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 7px;
  top: 1px;
  position: absolute;
}
.color-selector .category-radio_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.color-selector .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 146px;
  height: 34px;
  background-color: transparent;
  border-radius: 15px;
}
.color-selector .category-radio_item:hover .checkmark {
  background-color: transparent;
}
.color-selector .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.color-selector .category-radio_item .checkmark:after {
  left: 12px;
  top: 2px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.color-selector .category-radio_item input:checked ~ .checkmark {
  background-color: transparent;
  width: 161px;
}
.color-selector .category-radio_item input:checked ~ .checkmark:after {
  display: block;
}

.comment-count {
  height: 28px;
  width: 128px;
  border: 1px solid #ec0203;
  border-radius: 15px;
}
.comment-count .comment-count_image {
  height: 15px;
  width: 15px;
}

.comment-detail .comment-detail_image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.detail-action {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.social-list {
  display: flex;
}

.social-list li {
  margin-right: 9px;
}

.share-fb {
  display: flex;
}

.social-list .share-fb .icon-share-fb {
  background: #3b5999;
  display: inline-block;
  height: 36px;
  width: 36px;
  text-align: center;
  line-height: 39px;
  color: #ffffff;
}

.social-list .share-fb .text-share-fb {
  color: #fcfaf6;
  background: #087cce;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  padding: 0 10px;
}

.social-list .share-twitter {
  display: inline-block;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background: #55acee;
}

.social-list .share-zalo {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #41a0d7;
  line-height: 36px;
  text-align: center;
}

.grid-col3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
  grid-gap: 0px 20px;
}

.detail-tag {
  display: flex;
  margin: 30px 0 20px 0;
}

.detail-tag .tag-title {
  padding: 10px 5px;
  display: inline-block;
  background: #f7f7f7;
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  height: 35px;
  position: relative;
  margin-right: 30px;
}

.detail-tag .tag-title:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18.5px solid transparent;
  border-left: 15px solid #f7f7f7;
  border-bottom: 18.5px solid transparent;
  position: absolute;
  left: 100%;
  top: 0;
}

.detail-tag .tag-title i {
  color: #666666;
}

.tag-list {
  display: flex;
}

.tag-list li {
  padding: 7px 15px;
  border: 1px solid #e7e7e7;
  margin: 0 5px;
  transition: 0.2s;
  box-sizing: border-box;
  min-width: 100px;
  text-align: center;
}

.tag-list li:hover {
  background-color: #f7f7f7;
  font-weight: 700;
}

.tag-list a {
  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* Gray / 4F4F4F */

  color: #4f4f4f;
}

.floating-bar {
  position: fixed;
  width: 48px;
  border: 1px solid #ffeedb;
  left: 180px;
  top: 170px;
}
.floating-bar .mes-item {
  padding: 4px 12px 5px;
}
.floating-bar .floating-bar_item {
  height: 46px;
}
.floating-bar .floating-bar_item:hover {
  background-color: #ffeedb;
}

.social-icon {
  width: 30px;
  height: 30px;
}

.mini-video-title {
  height: 88px;
}

.play-button {
  width: 30px;
  height: 30px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 127, 0, 0.7);
}

.svg-grid {
  left: 120px;
  top: 0px;
}
.svg-grid svg {
  width: 100%;
  height: 50px;
  stroke: #1910c1;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.line-dash {
  background-image: url("../images/icon/Group.svg");
  background-repeat: repeat-x;
}

.owl-nav_custom {
  top: 132px;
}
.owl-nav_custom .customNextBtn {
  width: 63px;
  height: 43px;
  transform: skew(10deg);
  background: #ff3100;
  border-radius: 5px;
  border: none;
  position: relative;
}
.owl-nav_custom .customNextBtn::after {
  content: "";
  position: absolute;
}
.owl-nav_custom .customPrevBtn {
  width: 63px;
  height: 43px;
  transform: skew(-10deg);
  background: #ff3100;
  border-radius: 5px;
  border: none;
}

.pic-number {
  width: 26px;
  height: 19px;
  left: 2px;
}
.pic-number {
  width: 40px;
  height: 29px;
}
.pic-number::before {
  content: "";
  position: absolute;
  transform: skew(-10deg);
  background: #ff7f00;
  border-radius: 5px;
  border: none;
  width: 40px;
  height: 29px;
  bottom: 0;
  z-index: -1;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
/* category */
.item-lbn {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.055);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-lbn {
  width: 40%;
}

.text-lbn {
  width: 55%;
}

.title-lbn a {
  width: 100%;
  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  /* Grayscale 333 */

  color: #333333;
}

.box-news-tp {
  margin-top: 30px;
}

.intro-tbn {
  /* Content / Lead */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* Grayscale 444 */

  color: #444444;
}

.category-tbn {
  margin-bottom: 10px;
}

.category-tbn span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  letter-spacing: -0.005em;
  color: #777777;
}

.title-tbn a {
  display: block;
  margin: 10px 0 14px 0;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  /* Grayscale 333 */

  color: #333333;
}

.text-tbn {
  width: 100%;
}

.img-tbn {
  width: 100%;
}

.top-box-news-tp {
  width: 100%;
}

.box-news-tp {
  width: 100%;
}

.intro-lbc {
  /* Content / Lead */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* Grayscale 444 */

  color: #444444;
}

.category-lbc {
  margin: 12px 0;
}

.category-lbc span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 161% */

  align-items: center;
  letter-spacing: -0.005em;

  /* Grayscale 777 */

  color: #777777;
}

.img-lbc {
  width: 41%;
}

.title-lbc a {
  display: block;
  width: 100%;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}

.text-lbc {
  padding-left: 16px;
  width: 59%;
}

.item-lbc:last-child {
  border: none;
}

.item-lbc {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #00000018;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news-left-item-time {
  font-family: Averta;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ff3100;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

.news-left-item-time:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: #c4c4c4;
  border-radius: 50%;
  right: -15px;
  top: 9px;
}

.ads {
  width: max-content;
}

.right-body-cat-tp {
  width: 300px;
}

.left-body-cat-tp {
  width: 740px;
}

.right-body-cat-tp > div {
  margin-bottom: 30px;
}

.box-body-cat-tp {
  margin-top: 30px;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.title-rbhc a {
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}

.text-rbhc {
  width: 60%;
}

.img-rbhc {
  width: 37%;
}

.item-rbhc:last-child {
  border-bottom: none;
}

.item-rbhc {
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #0000000d;
}

.intro-lbhc {
  /* Content / Lead */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  /* Grayscale 444 */

  color: #444444;
}

.title-lbhc a {
  margin: 10px 0;
  display: block;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}

.news-right-bhc {
  width: 48%;
}

.news-left-bhc {
  width: 49%;
}

.content-bhc {
  justify-content: space-between;
  display: flex;
}

.box-hot-cat-tp {
  margin-top: 35px;
}

.title-cat-first-tp:before {
  content: "";
  background-image: url(images/last_title.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* .title-cat-first-tp:after {
            content: "";
            position: absolute;
            background-image: url(images/last_title.svg);
        } */

.title-cat-first-tp {
  position: relative;
}

.first-tbc a {
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ff3100;
}

.title-box-cat-tp {
  width: 100%;
}

.box-hot-cat-tp {
  width: 100%;
}

.list-btt a {
  padding: 5px 15px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 7px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 161% */

  display: flex;
  align-items: center;

  /* Gray / 4F4F4F */

  color: #4f4f4f;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: center;
  margin-left: 10px;
  white-space: nowrap;
}

.title-btt span {
  margin-left: 12px;
  white-space: nowrap;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #666666;
}

.list-btt ul {
  display: flex;
}

.title-btt {
  display: flex;
}

.box-tag-trending-tp {
  display: flex;
}

.item-rbtc {
  padding-bottom: 20px;
  padding-left: 30px;
}

.news-right-btc {
  display: grid;
  grid-template-columns: 50% 50%;
}

.title-rbtc a {
  margin-top: 10px;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  display: block;
  color: #333333;
}

.main-breadcrumb {
  display: grid;
}

.intro-lbtc {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #444444;
}

.title-lbtc a {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  color: #333333;
}

.news-left-btc {
  width: 44%;
}

.news-right-btc {
  width: 56%;
}

.box-top-cat-tp {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.next-right-tp {
  padding: 0 15px;
}

.child-lbc a {
  margin-right: 21px;
  font-family: Averta;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 156% */

  /* Gray / 222222 */

  color: #222222;
}

.next-right-tp a,
.child-lbc a {
  line-height: 30px;
}

.next-right-tp,
.child-lbc {
  display: flex;
  align-items: flex-end;
}

.first-lbc a {
  font-family: Averta-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  color: #ff4848;

  /* Inside Auto Layout */

  margin: 10px 0px;
}

.list-breadcrumb {
  display: flex;
}

.top-page-tp {
  padding: 24px 30px;
}
/* category */
/* tag */
.title-tag-tp span {
  font-weight: 200;
  color: #131313;
}
.title-tag-tp {
  margin-top: -20px;
  margin-bottom: 20px;
  color: #ff4848;
  font-weight: 800;

  font-family: Averta;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;
}
/* tag */
/* search */
.btn-form-search-tp {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* or 150% */

  display: flex;
  align-items: center;

  /* White */

  color: #ffffff;
  padding: 9px 19px;

  background: #151ebb;
  border-radius: 3px;
}
.title-form {
  margin-bottom: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  display: flex;
  align-items: center;

  /* Grayscale 666 */

  color: #666666;
}
.d-input-tp input {
  border: solid 1px #bfbfbf;
  padding: 10px 8px;
  outline: 0;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  /* border: 1px solid #bfd7ea; */
  color: #757575;
}
.form-search-tp > .d-input-tp {
  margin-bottom: 21px;
}
.form-search-tp > div {
  display: flex;
}
.form-search-tp {
  margin: 35px 0;
  padding: 20px;

  background: #f4f4f4;
  width: 100%;
}
.number-result {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  display: flex;
  align-items: center;

  /* Grayscale 666 */

  color: #666666;
}
/* search */
/* video */
.right-body-video-tp > div {
  margin-bottom: 30px;
}
.item-lbv {
  margin-bottom: 30px;
}
.title-lbv a {
  display: block;
  margin-top: 10px;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Grayscale 333 */

  color: #333333;
}
.right-body-video-tp {
  width: 300px;
}
.left-body-video-tp {
  height: max-content;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 31% 31% 31%;
  width: 740px;
}
.box-body-video-tp {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.itemt-rbtv {
  margin-bottom: 30px;
}
.title-rbtv a {
  margin-top: 12px;
  display: block;

  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Grayscale 333 */

  color: #333333;
}
.text-rbtv {
  width: 100%;
}
.intro-lbtv {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  /* or 23px */

  /* Grayscale 444 */

  color: #444444;
}
.title-lbtv a {
  display: block;
  margin: 14px 0 10px 0;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.text-lbtv {
  width: 100%;
}
.img-lbtv {
  width: 100%;
}
.news-right-btv {
  width: 27%;
}
.news-left-btv {
  width: 70%;
}
.box-top-video-tp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* video */
.title-cat-first-tp h3 {
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ff3100;
}
/* detail new */
.itemt-bnot {
  margin-bottom: 30px;
}

.intro-bnot {
  /* Content / Lead */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* Grayscale 444 */

  color: #444444;
}

.title-bnot a {
  display: block;
  margin: 10px 0 12px 0;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}

.list-bnot {
  height: max-content;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 32% 32% 32%;
  width: 100%;
}

.box-news-orther-tp {
  width: 100%;
}

.relation-news-list a {
  font-family: Averta;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 149.49%;
  /* or 24px */

  letter-spacing: -0.005em;

  /* Gray / 4F4F4F */

  color: #4f4f4f;
}

.relation-news-list li:after {
  content: "";
  width: 5px;
  height: 5px;
  background: #c4c4c4;
  display: inline-block;
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
}

.relation-news-list li {
  position: relative;
  margin-bottom: 12px;
}

.relation-news-list {
  margin-left: 18px;
}

.relation-news-title {
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  /* Grayscale 333 */

  color: #333333;
}

.relation-news-header {
  font-size: 18px;
  line-height: 12px;
  color: #333;
  margin-bottom: 30px;
  padding: 15px 22px;
  background-color: #f7f7f7;
}

.toolTipCopy .tooltiptext {
  line-height: 24px;
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.detail-header-action .floating-bar-action {
  color: #18136f;
  font-size: 18px;
}

.toolTipCopy {
  position: relative;
  display: inline-block;
}

.floating-bar-tp .detail-header-action li {
  text-align: center;
  margin-left: 0;
  padding: 10px 13px;
}

.detail-header-action {
  display: flex;
  align-items: center;
}

.floating-bar-tp .detail-header-action {
  flex-direction: column;
  background: #fff;
  border: 1px solid rgba(43, 114, 93, 0.2);
}

.body-detail {
  width: 92%;
}

.floating-bar-tp {
  margin-top: 192px;
  position: relative;
  width: 62px;
  width: 50px;
}

.floating-detail-tp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-body-new-tp {
  width: 100%;
}

.detail-action {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

ul:not(.ul-content) {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.social-list li {
  margin-right: 9px;
}

.social-list .share-twitter {
  display: block;
  height: 36px;
  width: 36px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
  background: #55acee;
}

.toolTipCopy {
  position: relative;
  display: inline-block;
}

.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
}

.fb_iframe_widget {
  display: inline-block;
  position: relative;
}

.auth {
  text-align: right;

  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 163.42%;
  /* identical to box height, or 29px */

  /* Gray 1 */

  color: #333333;
}

.title-bd h2 {
  display: block;
  margin-top: 19px;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  /* or 42px */

  /* Gray / 222222 */

  color: #222222;
}

.intro-bd {
  margin: 22px 0 20px 0;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 140%;
  /* or 24px */

  /* Grayscale 444 */

  color: #444444;
}

#content_detail {
  /* Content / 17 / Arial */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  /* or 24px */

  /* Grayscale 333 */

  color: #333333;
}

#content_detail p,
#content_detail li,
#content_detail em,
#content_detail i,
#content_detail strong,
#content_detail b,
#content_detail font {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 26px;
  font-size: 17px;
}

#content_detail figure img {
  margin: 0 !important;
  max-width: 100%;
  height: auto !important;
}

#content_detail figure figcaption {
  background: #f2f2f2;
  text-align: center;
  padding: 3px;
  font-size: 13px !important;
  display: block;
  margin: 0 auto;
}

#content_detail figure figcaption h2 {
  font-family: Averta;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: -0.005em;

  /* Grayscale 555 */

  color: #555555;
}

.expNoEdit figcaption {
  width: 100% !important;
}

#content_detail > p,
#content_detail > figure,
#content_detail > p > * {
  margin: 20px 0;
  font-family: Arial;
}

#content_detail figure {
  margin: 0 auto 8px !important;
  width: 100%;
  text-align: center;
}

.right-body-new-tp {
  width: 300px;
}

.left-body-new-tp {
  width: 740px;
}

.box-body-news-tp {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.right-body-new-tp > div {
  margin-bottom: 30px;
}
/* detail new */
/* detail-image */
.box-body-detail.body-detail {
  width: 100%;
}
.box-body-detail.body-detail .intro-bd {
  margin-top: 22px;
  margin-bottom: 30px;
}
.box-body-detail > h1,
.box-body-detail > h2,
.box-body-detail > h3,
.box-body-detail > h4,
.box-body-detail > h5,
.box-body-detail > h6,
.box-body-detail > .intro-bd,
.box-body-detail > .title-bd,
.box-body-detail > #content_detail > p {
  width: 670px;
  margin: 0 auto;
}
.box-body-detail > #content_detail > p {
  margin: 10px auto;
}
/* detail-image */

/* video2 */
.content-box-one {
  margin-top: 12px;
}
.row-3-box {
  margin-top: 30px;
}
.text-cbo {
  padding-left: 12px;
}
.title-cbo a {
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  /* Grayscale 333 */

  color: #333333;
}
.itemt-cbo:last-child {
  border: none;
}
.itemt-cbo {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #0000001c;
  justify-content: center;
  display: flex;
}
.box-one {
  width: 32%;
}
.row-3-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-r-playlist {
  padding-top: 20px;
  padding-left: 20px;
}
.title-r-playlist a {
  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  color: #ffffff;
}
.text-r-playlist {
  width: 55%;
}
.img-r-playlist {
  width: 43%;
}
.itemt-r-playlist {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}
.ruby-playlist {
  width: 100%;
  padding: 12px 20px;
  background: #ff820f;
  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  color: #ffffff;
}
.right-playlist {
  width: 32%;
}
.left-playlist {
  width: 68%;
}
.news-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contain-playlist-tp {
  position: relative;
  padding: 24px 30px;
}
.box-playlist-tp {
  position: relative;
  background: linear-gradient(180deg, #ff0b0b 0%, #ff7f00 100%);
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
  width: 100%;
}
.itemt-lbys {
  margin-bottom: 30px;
}
.title-lbys a {
  display: block;
  margin-top: 15px;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  color: #333333;
}
.box-you-see-v2 {
  width: 100%;
}
.list-box-you-see-v2 {
  display: grid;
  width: 100%;
  justify-content: space-between;

  grid-template-columns: 19% 19% 19% 19% 19%;
}
.box-game-free-video2-tp {
  margin-top: 30px;
}
.itemt-rbgfv2 {
  padding-left: 30px;
  margin-bottom: 20px;
}
.title-rbgfv2 a {
  margin-top: 10px;
  display: block;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  color: #333333;
}
.right-bgfv2 {
  width: 55%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.title-lbgfv2 a {
  width: 100%;
  margin: 10px 0 12px 0;
  display: block;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.intro-lbgfv2 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #444444;
}
.left-bgfv2 {
  width: 45%;
}
.right-bgfv2 {
}
.news-bgfv2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.btn-su2 {
  padding: 8px 12px;
  background: #f79e45;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height, or 175% */

  display: flex;
  align-items: center;
  border-radius: 3px;
  /* Paper */

  color: #fcfaf6 !important;
}
.btn-su1 {
  margin-right: 10px;
  padding: 8px 12px;
  background: #ff3100;
  border-radius: 3px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height, or 175% */

  display: flex;
  align-items: center;

  /* Paper */

  color: #fcfaf6 !important;
}
.btn-subscribe {
  justify-content: flex-end;
  width: 100%;
  display: flex;
}
/* video2 */
.itemt-bvt2 {
  margin-bottom: 30px;
}
.containe-bvt2 {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
}
.intro-bvt2 {
  /* Content / Lead */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* Grayscale 444 */

  color: #444444;
}
.title-bvt2 a {
  display: block;
  margin: 10px 0;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.containe-bvt1 {
  width: 100%;
}
.box-valorant-tp {
  width: 100%;
}
.itemt-bcg2 {
  margin-bottom: 30px;
}
.intro-bcg2 {
  /* Content / Lead */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* Grayscale 444 */

  color: #444444;
}
.title-bcg2 a {
  display: block;
  margin: 10px 0;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.img-bcg2 {
  width: 100%;
}
.itemt-bcg {
  padding-bottom: 30px;
  border-bottom: 1px solid #00000017;
}
.box-cs-go-tp {
  margin-top: 30px;
  width: 100%;
}
.content-bcg2 {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
}
.content-bcg {
  width: 100%;
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  justify-content: space-between;
}
.title-bcg a {
  margin-top: 10px;
  display: block;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.intro-bcg {
  /* Content / Lead */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* Grayscale 444 */

  color: #444444;
}
.category-bcg {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.category-bcg span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  letter-spacing: -0.005em;
  color: #777777;
}
/* review */
.box-valorant-tp {
  margin-top: 20px;
}
.img-gia {
  border-radius: 7px;
}
.number-gia {
  /* Roboto / Regular / 14 */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 161% */

  letter-spacing: -0.005em;

  /* Grayscale 777 */

  color: #777777;
}
.text-gia a {
  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  /* Grayscale 333 */

  color: #333333;
  display: block;
  margin: 10px 0;
}
.item-gia {
  max-width: 150px;
  width: 100%;
  border-radius: 7px;
  padding: 15px;
  background: #f4f4f4;
}
.contain-gia {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
.box-g-ios-ar {
  width: 100%;
}
.contain-rbgg {
  margin-top: 20px;
}
.number-rbgg {
  /* Roboto / Regular / 14 */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 161% */

  letter-spacing: -0.005em;

  /* Grayscale 777 */

  color: #777777;
}
.title-rbgg a {
  display: block;
  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  /* Grayscale 333 */

  color: #333333;
}
.text-rbgg {
  width: 100%;
  max-width: 200px;
}
.img-rbgg img {
  border-radius: 7px;
}
.img-rbgg {
  width: 100%;
  max-width: 80px;
}
.itemt-rbgg:last-child {
  border: none;
}
.itemt-rbgg {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(7, 7, 7, 0.096);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.img-lbgg .pic-number::before {
  width: 40px;
  height: 29px;
}

.intro-lbgg {
  /* Content / Lead */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* Grayscale 444 */

  color: #444444;
}
.title-lbgg a {
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.text-lbgg {
  padding-left: 16px;
  width: 100%;
  max-width: 424px;
}
.img-lbgg {
  width: 100%;
  max-width: 300px;
}
.itemt-lbgg:last-child {
  border: none;
}
.itemt-lbgg {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #0000001a;
  width: 100%;
  justify-content: space-between;

  display: flex;
  align-items: center;
}
.category-lbgg span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  letter-spacing: -0.005em;
  color: #777777;
}
.category-lbgg {
  margin: 12px 0;
}
.right-bgg {
  max-width: 300px;
  width: 100%;
}
.left-bgg {
  max-width: 740px;
  width: 100%;
}
.containe-bgg {
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.box-good-game-tp {
  margin-top: 30px;
}
.box-list-PS4-tp ul a span {
  z-index: 2;
}
.box-list-PS4-tp ul a.active span {
  color: #fff;
}
.box-list-PS4-tp ul a.active {
  position: relative;
}
.box-list-PS4-tp ul a.active::before {
  content: "";
  z-index: 0;
  transform: skew(-10deg);
  background: #ff3100;
  border-radius: 5px;
  border: none;
  height: 32px;
  position: absolute;
  left: 0;
  width: 100%;
}
.box-list-PS4-tp ul li {
  padding: 0 12px;
}
.box-list-PS4-tp ul a {
  padding: 6px 21px;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #666666;
}
.box-list-PS4-tp {
  margin-top: 30px;
  width: 100%;
}
.box-list-PS4-tp ul {
  display: flex;
}
.intro-btr {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  /* or 23px */

  /* Grayscale 444 */

  color: #444444;
}
.title-btr a {
  display: block;
  margin-bottom: 10px;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  /* or 42px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.text-btr {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  width: 100%;
  max-width: 760px;
}
.box-top-review-tp {
  width: 100%;
}
/* review */
.main-menu .main-menu-item span {
  white-space: nowrap;

  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */

  text-transform: uppercase;

  color: #333333;
}
/* inde2 */
.box-2-column-tp {
  margin-top: 30px;
}
.title-bb2c a {
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.text-bb2c {
  max-width: 305px;
  width: 100%;
}
.img-bb2c {
  width: 100%;
  max-width: 200px;
}
.itemt-bb2c {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #00000018;
}
.box-hot-cat-tp {
  margin-top: 30px;
}
.title-b2c {
  margin-top: 10px;
}
.intro-b2c {
  /* Content / Lead */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* Grayscale 444 */
}
.title-b2c a {
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.category-b2c span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  letter-spacing: -0.005em;
  color: #777777;
}
.category-b2c {
  margin: 12px 0;
}
.column-b2c {
  max-width: 525px;

  width: 100%;
}
.box-2-column-tp {
  display: flex;
  justify-content: space-between;
}
.title-clf a {
  display: block;
  margin-top: 10px;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  color: #ffffff;
}
.itemt-clf {
  margin-bottom: 20px;
  padding-left: 30px;
  width: 100%;
}
.intro-lclf {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #ffffff;
}
.title-lclf a {
  display: block;
  margin: 10px 0;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  color: #ffffff;
}
.right-clf {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 600px;
  width: 100%;
}
.left-clf {
  max-width: 480px;
  width: 100%;
}

.contain-life-tp {
  width: 100%;
  padding: 24px 30px;
}
.news-life-tp {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.box-life-tp {
  position: relative;
  background: linear-gradient(180deg, #151ebb 0%, #2f9cee 100%);
}
.itemt-lbum {
  margin-bottom: 30px;
}
.title-lbum a {
  display: block;
  margin-top: 10px;

  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Grayscale 333 */

  color: #333333;
}
.right-bum {
  max-width: 300px;
  width: 100%;
}
.left-bum {
  height: max-content;
  max-width: 740px;
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 32% 32% 32%;
}
.box-under-meia-tp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title-bnmt a {
  display: block;
  margin: 10px 0;

  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  color: #ffffff;
}
.itemt-bnmt {
  max-width: 200px;
  width: 100%;
}
.bottom-nmt {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.intro-tnmt {
  margin: 17px 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  display: flex;
  align-items: center;

  color: #ffffff;
}
.title-tnmt a {
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  /* or 42px */

  display: flex;
  align-items: center;

  color: #ffffff;

  opacity: 0.9;
}
.text-tnmt {
  max-width: 316px;
  width: 100%;
}
.img-tnmt {
  width: 100%;
  max-width: 740px;
}
.top-nmt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contain-media-tp {
  position: relative;
  padding: 24px 30px;
}
.box-media-tp {
  position: relative;
  background: linear-gradient(180deg, #ff0b0b 0%, #ff7f00 100%);
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
  width: 100%;
}
.intro-lbnh2 {
  /* Content / Lead */

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* Grayscale 444 */

  color: #444444;
}
.title-lbnh2 a {
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.text-lbnh2 {
  max-width: 424px;
  width: 100%;
}
.img-lbnh2 {
  max-width: 300px;
  width: 100%;
}
.itemt-lbnh2:last-child {
  border: none;
}
.itemt-lbnh2 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #0000001c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-lbnh2 {
  margin: 12px 0;
}
.category-lbnh2 span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  letter-spacing: -0.005em;
  color: #777777;
}
.box-new-home {
  margin-top: 30px;
}
.container-lbnh1 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #00000010;
}
.intro-lbnh1 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  /* or 23px */

  /* Grayscale 444 */

  color: #444444;
}
.title-lbnh1 a {
  display: block;
  margin: 10px 0;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  /* or 42px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
.right-bnh {
  max-width: 300px;
  width: 100%;
}
.left-bnh {
  max-width: 740px;
  width: 100%;
}
.box-new-home {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box-tag-trending-tp {
  margin-top: 30px;
}
.itemt-rbth:last-child {
  border: none;
}
.itemt-rbth {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.title-rbth a {
  display: block;
  margin-top: 10px;
  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  /* Grayscale 333 */

  color: #333333;
}
.title-bcbth a {
  display: block;
  margin-top: 10px;
  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  /* Grayscale 333 */

  color: #333333;
}
.item-bcbth {
  width: 48%;
}
.bottom-cbth {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.intro-tcbth {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  /* Grayscale 444 */

  color: #444444;
}
.title-tcbth a {
  margin: 10px 0;
  display: block;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  /* Grayscale 333 */

  color: #333333;
}
span.ribbon-top-min-tp span {
  font-family: Averta;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 0%;
  /* identical to box height, or 0px */

  display: flex;
  align-items: center;

  color: #fcfaf6;
}
span.ribbon-top-min-tp::before {
  content: "";
  position: absolute;
  transform: skew(-10deg);
  background: #ff7f00;
  border-radius: 5px;
  border: none;
  width: 26px;
  height: 19px;
  bottom: 0;
  z-index: -1;
  left: 0;
}
span.ribbon-top-min-tp {
  width: 26px;
  height: 19px;
}
.title-lbth a {
  display: block;
  width: 150px;

  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  /* Grayscale 333 */

  color: #333333;
}

.img-lbth {
  width: 120px;
}

.itemt-lbth:last-child {
  border: none;
}

.itemt-lbth {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
  display: flex;
}

.rigth-bth {
  padding-left: 15px;

  border-left: 1px solid #d2d2d2;
  width: 100%;
  max-width: 255px;
}

.center-bth {
  padding: 0 15px;
  width: 100%;
  max-width: 530px;
}

.left-bth {
  border-right: 1px solid #d2d2d2;
  padding-right: 15px;
  width: 100%;
  max-width: 295px;
}

.box-top-home-tp {
  display: flex;
  width: 100%;
}
.right-bnh > div {
  margin-bottom: 30px;
}
.play-time-tp span {
  display: block;
  padding: 2px 6px;
  /* Small text */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  text-align: center;

  color: #ffffff;
}
.title-slider-owl {
  bottom: 0px;
}
.title-slider-owl a {
  padding: 0 30px;
  padding-bottom: 20px;
  display: block;
  bottom: 0px;
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  letter-spacing: 0.02em;

  color: #ffffff;
}
